    <h2 class="padded">Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="padding">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.input :first_name, wrapper_html: { class: "one half padded" } %>

  <%= f.input :last_name, wrapper_html: { class: "one half padded"} %>

  <%= f.input :profile_name, required: true, wrapper_html: { class: "one half padded"} %>

  <%= f.input :email, wrapper_html: { class: "one half padded"} %>

  <%= f.input :bio, wrapper_html: { class: "one half padded"} %>

  <%= f.input :expertise, label: "Expertise (place commas between each area of expertise", wrapper_html: { class: "one half padded"} %>

  <%= f.input :linkedin_url, label: 'LinkedIn URL', wrapper_html: { class: "one third padded"} %>

  <%= f.input :facebook_url, label: 'Facebook URL', wrapper_html: { class: "one third padded"} %>

  <%= f.input :twitter_url, label: 'Twitter URL', wrapper_html: { class: "one third padded"} %>

  <%= f.input :password, label: 'New Password (only enter if changing passwords)', wrapper_html: { class: "padded"} %>

  <%= f.input :password_confirmation, label: 'Confirm New Password', wrapper_html: { class: "padded"} %>

  <%= f.input :current_password, required: true, wrapper_html: { class: "padded"} %>

  <div class="padded"><%= f.submit "Update" %></div>

<% end %>

<h2 class="padded">Cancel My Account</h3>

<div class="padded"><p>Unhappy?  Want to cancel your account?  Use the button below. <%= button_to "Cancel Account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p></div>

<p class="padded"><%= link_to "Back", :back %></div>
