<h1>List Tasks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Contents</th>
    <th>Space ID</th>
    <th>Training Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @space.tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.description %></td>
    <td><%= task.contents %></td>
    <td><%= task.space_id %></td>
    <td><%= task.trainingtype %></td>
    <td><%= link_to 'Show', space_task_path(@space, task) %></td>
    <td><%= link_to 'Edit', edit_space_task_path(@space, task) %></td>
    <td><%= link_to 'Destroy', space_task_path(@space, task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_space_task_path %> | <%= link_to 'Back to Space', game_space_path(@space.game_id, @space) %>
