<p id="notice"><%= notice %></p>
<% if user_signed_in? %>

  <p>
    <b>Name:</b>
    <%= @task.name %>
  </p>

  <p>
    <b>Description:</b>
    <%= @task.description %>
  </p>

  <p>
    <b>Contents:</b>
    <%= @task.contents %>
  </p>

  <p>
    <b>Space ID:</b>
    <%= @task.space_id %>
  </p>

  <p>
    <b>Type:</b>
    <%= @task.trainingtype %>
  </p>


  <%= link_to 'Edit', edit_space_task_path(@space, @task) %> |
  <%= link_to 'Back', space_tasks_path(@space) %>

<% else %>
  <p>Please <%= link_to 'register', register_path %> or <%= link_to 'log in', login_path %> to play a game</p>
<% end %>
