<div class="row">
  <p id="notice"><%= notice %></p>
</div>
  <div class="row">
    <div class="span12">
      <div class="well">
        <h2 class="text-center"><%= @task.name %></h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <% if @task.trainingtype == 0 %>
        <% @survey =  Survey::Survey.active.first %>
        <% @attempt = @survey.attempts.new %>
        <% @attempt.answers.build %>
        <% @participant = current_user # you have to decide what to do here %>
        <%= simple_form_for(@attempt, :url => quizzes_attempts_path) do |f| %>
          <%= f.fields_for :answers do |builder| %>
            <ul>
              <% @survey.questions.each_with_index do |question, index| %>
                <li>
                  <p><%= question.text %></p>
                  <%= hidden_field_tag "survey_attempt[answers_attributes][#{index}][question_id]", question.id %>
                  <% question.options.each do |option| %>
                    <%= check_box_tag "survey_attempt[answers_attributes][#{index}][option_id]", option.id %>
                    <%= option.text %> <br/ >
                  <% end -%>
                </li>
              <% end -%>
            </ul>
          <% end -%>
        <%= f.hidden_field :task_id, value: @task %>
        <%= f.submit "Submit" %>
      <% end -%>

      <% elsif @task.trainingtype == 1  %>
        <% content_for :head do %>
          <script src="http://jwpsrv.com/library/ZhA1YKsUEeK9ACIACpYGxA.js"></script>
        <% end %>
        <div id='my-video'></div>
        <script type='text/javascript'>
          jwplayer('my-video').setup({
            file: "<%= @task.contents %>",
            width: '640',
            height: '360'
          });
        </script>
      <% else %>
        <p>This is a task of an unkown type</p>
      <% end %>
    </div>
  </div>

  <div class="row" id="padtop">
    <div class="span8">
      <div class="well">
        <h4>Learning Objectives:</h4>
        <p><%= @task.description %></p>
      </div>
    </div>
    <div class="span4" id="padtop">
      <p class="text-center">
        <% @user_task = UserTask.new %>
        <%= simple_form_for @user_task, method: :post do |form| %>
          <div class="form form-action">
            <%= form.hidden_field :task_id, :value => @task.id %>
            <%= submit_tag 'Record Completion', :class => 'btn btn-primary btn-large' %>
          </div>
        <% end %>
      </p>
    </div>
  </div>

  <div class="span12">
    <% if can? :edit, Task %>
      <%= link_to 'Edit', edit_space_task_path(@space, @task) %> | 
    <% end %>
    <%= link_to 'Back to Task List', space_tasks_path(@space) %>
  </div>
