<div class="row">
  <p id="notice"><%= notice %></p>
</div>
<% if user_signed_in? %>

  <div class="row">
    <div class="span12">
      <div class="well">
        <h2 class="text-center"><%= @task.name %></h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div id="legend">
        <p>Render the content here....</p>
        <p>Placeholder text: <%= @task.contents %>
      </div>
    </div>
  </div>

  <div class="row" id="padtop">
    <div class="span8">
      <div class="well">
        <h4>Learning Objectives:</h4>
        <p><%= @task.description %></p>
      </div>
    </div>
    <div class="span4" id="padtop">
      <p class="text-center"><a href="#" class="btn btn-primary btn-large">Record Completion</a></p>
    </div>
  </div>

  <div class="span12">
    <%= link_to 'Edit', edit_space_task_path(@space, @task) %> | <%= link_to 'Back to Task List', space_tasks_path(@space) %>
  </div>

<% else %>
  <p>Please <%= link_to 'register', register_path %> or <%= link_to 'log in', login_path %> to play a game</p>
<% end %>
