<div class="row">
    <p id="notice"><%= notice %></p>
</div>
    <div class="row">
        <div class="span12">
            <div class="well">
                <h2 class="text-center">Space List for <%= @game.name %></h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <table class="table table-hover">
                <tr>
                    <th>Space Name</th>
                    <th>Topic</th>
                    <% if can? :destroy, Space %><th></th><% end %>
                </tr>

                <% @game.spaces.each do |space| %>
                    <tr>
                        <td><%= link_to space.name, game_space_path(@game, space) %></td>
                        <td><%= space.topic %></td>
                        <% if can? :destroy, Space %><td><%= link_to 'Destroy', game_space_path(@game, space), method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>

    <div class="span12">
        <% if can? :new, Space %>
            <%= link_to 'New Space', new_game_space_path %> | 
        <% end %>
        <%= link_to 'Back to Game', game_path(@game) %>
    </div>
</div>