  <div class="row">
    <div class="span12">
      <div class="well">
        <h2 class="text-center"><%= @space.name %></h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <p><%= @space.detail %></p>
    </div>
  </div>

  <div class="span12">
    <% if can? :edit, Space %>
      <%= link_to 'Edit', edit_game_space_path(@game, @space) %>
    <% end %>
  </div>

  <div class="row" id="padtop">
    <div class="span12">
      <h4>Tasks for <%= @space.name %></h4>
    </div>
  </div>

  <div class='row'>
    <div class="span12">
      <table class="table table-hover">
        <tr>
            <th>&nbsp;</th>
            <th>Task Name</th>
            <th>Learning Objectives</th>
            <th>Type</th>
        </tr>
        <% sortedTasks = @space.tasks.sort_by &:order
        for task in sortedTasks %>
            <tr>
                <td><% if task.user_ids.include?(current_user.id).present? %><i class='icon-ok'></i><% else %>&nbsp;<% end %></td>
                <td><%= link_to task.name, space_task_path(@space, task) %></td>
                <td><%= task.description %></td>
                <td><% if task.trainingtype == 0 %>Quiz<% elsif task.trainingtype == 1 %>Video<% else %>Other<% end %></td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="span12">
    <% if can? :edit, Task %>
      <%= link_to 'New Task', new_space_task_path(@space) %> | <%= link_to 'Edit Tasks', space_tasks_path(@space) %> | 
    <% end %>
    <%= link_to 'Back to Game', game_path(@game) %>
  </div>
