<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @space.name %>
</p>

<p>
  <b>Topic:</b>
  <%= @space.topic %>
</p>

<p>
  <b>Detail:</b>
  <%= @space.detail %>
</p>

<p>
  <b>Gameid:</b>
  <%= @space.game_id %>
</p>

<p>
  <b>Gameorder:</b>
  <%= @space.gameorder %>
</p>


<%= link_to 'Edit', edit_game_space_path(@game, @space) %> |
<%= link_to 'Back', game_spaces_path(@game) %>
