<div class="row">
    <p id="notice"><%= notice %></p>
</div>
<div class="row">
  <div class="span12">
    <div class="well">
      <h2 class="text-center">Available Games</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
        <% if can? :destroy, Game %><th></th><% end %>
      </tr>
      <% @games.each do |game| %>
        <tr>
          <td><%= game.name %></td>
          <td><%= game.description %></td>
          <td><%= link_to 'Play Game', game, :class => "btn btn-primary" %></td>
          <% if can? :destroy, Game %><td><%= link_to 'Destroy', game_path(game), method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<% if can? :create, Game %>
  <div class="span12"><%= link_to 'New Game', new_game_path %></div>
<% end %>
