<div class="row">
    <p id="notice"><%= notice %></p>
</div>
<div class="row">
  <div class="span12">
    <div class="well">
      <h2 class="text-center">Available Games</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>
      <% @games.each do |game| %>
        <tr>
          <td><%= game.name %></td>
          <td><%= game.description %></td>
          <td><%= link_to 'Play Game', game, :class => "btn btn-primary" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<% if user_signed_in? %>
  <div class="span12"><%= link_to 'New Game', new_game_path %></div>
<% end %>
