<p id="notice"><%= notice %></p>
	<p>
	  <b>Name:</b>
	  <%= @game.name %>
	</p>

	<p>
	  <b>Description:</b>
	  <%= @game.description %>
	</p>

	<p>
	  <b>Gamepic:</b>
	  <%= @game.gamepic %>
	</p>
	<% if can? :edit, Game %>
		<%= link_to 'Edit Game', edit_game_path(@game) %>
	<% end %>

	<h2>Spaces</h2>
	<div class="row">
	    <div class="span12">
     		<table class="table table-hover">
        		<tr>
					<th>Name: </th>
					<th>Topic: </th>
					<th>Detail: </th>
				</tr>
				<% sortedSpaces = @game.spaces.sort_by &:gameorder
				for space in sortedSpaces %>
					<tr>
						<td><%= link_to space.name, game_space_path(space.game_id, space.id) %></td>
						<td><%= space.topic %></td>
						<td><%= space.detail %></td>
					</tr>
				<% end %>
			</table>
    	</div>
  	</div>

	<% if can? :new, Space %>
		<p><%= link_to 'New Space', new_game_space_path(@game) %> | <%= link_to 'Edit Spaces', game_spaces_path(@game) %></p>
	<% end %>

	<%= link_to 'Back to Game List', games_path %>

