<!DOCTYPE html>
<html>
<head>
  <title>Game-A-Cert</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Game-A-Cert (pre-Alpha)", root_path, { :class=>"brand" } %>
			<ul class="nav pull-right">
					<% if user_signed_in? %>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class='icon-user'></i> User Information<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Dashboard</a></li>
							<li><a href="#">Prizes</a></li>
							<li><%= link_to "View Profile", profile_page_path(:id => current_user.profile_name) %></li>
							<li><%= link_to "Settings", edit_user_path %></li>
						</ul>
					<% else %>
					<li>
						<%= link_to raw("<i class='icon-thumbs-up'></i> Register"), register_path %>
					<% end %>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-road"></i> Games<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<% if user_signed_in? %>
						<li>
							<a href="#">Current Games</a>
						</li>
						<li>
							<a href="#">Finished Games</a>
						</li>
						<% end %>
						<li>
							<%= link_to "Available Games", games_path %>
						</li>
					</ul>
				</li>
				<li>
					<% if user_signed_in? %> 
						<%= link_to raw("<i class='icon-signout'></i> Log Out"), logout_path %>
					<% else %> 
						<%= link_to raw("<i class='icon-signin'></i> Log In"), login_path %>
					<% end %>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="container main-body-container">
	<% flash.each do |type, message| %>
		<% if type.to_s == "notice" %>
			<div class="alert alert-success">
		<% else %>
			<div class="alert alert-error">
		<% end %>
			<button class="close" data-dismiss="alert">&times;</button>
			<%= message %>
		</div>

	<% end %>

	<%= yield %>
</div>
<p class="text-center muted">&copy;2013 The Chellinsky Group, LLC | All Rights Reserved</p>
</body>
</html>
